.google-sign{
    border: 1px solid lightgray;
    padding: 10px 20px;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    font-size: 17px;
    user-select: none;
    font-weight: 600;
}

.google-sign img{
    width: 30px;
    float: left;
}

.google-sign:hover{
    cursor: pointer;
    background-color: lightgray;
}

.form-style{
    border: 1px solid rgb(196, 194, 194);
    background-color: rgb(238, 237, 237);
}

@media only screen and (max-width: 570px) {
    
  }